@import "tailwindcss";
@import "./theme/index.css";

* {
  user-select: none;
}


body,
#app {
  overflow: hidden;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6; */
}

body {
  font-size: 16px;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  width: 100%;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.drag-region {
  -webkit-app-region: drag;
}